.contacts {
    padding-top: 100px;
    background-color: #7E18FF;
    &__list {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        column-gap: 100px;
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
    }
    &__item {
        margin-top: 15px;
        list-style-type: disc;
        &:hover {
			scale: 1.04;
		}
		&:after {
			display: block;
			content: '';
			position: absolute;
			bottom: 30%;
			height: 1%;
			width: 100%;
			border-radius: 5px;
			box-shadow: 0 5px 4px #272727;
			transform: scaleX(0);
			transition: 0.5s all;
		}
		&:hover:after {
			transform: scaleX(1);
		}
    }
}