.language {
    padding-top: 100px;
    background-color: #7E18FF;
    &__list {
        margin-top: 20px;
        color: #ffffff;
        font-size: 18px;
    }
    &__item {
        list-style-type: disc;
    }
}